<div>
  <div mat-dialog-content>
   <h5>Tem certeza que deseja deletar esse(s) usuarios?</h5>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="deny()">Não</button>
    <button mat-button [mat-dialog-close]="data" (click)="confirm()" cdkFocusInitial>Sim</button>
  </div>

</div>
