<h3 mat-dialog-title>{{ title }}</h3>
<div mat-dialog-content>
  <form (ngSubmit)="save()" #form="ngForm">
    <div class="p-grid">
      <div class="p-col-12">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            type="text"
            name="contactName"
            matInput
            required
            [(ngModel)]="userData.nome"
          />
        </mat-form-field>
      </div>
      <div class="p-col-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            name="contactEmail"
            matInput
            required
            [(ngModel)]="userData.email"
          />
        </mat-form-field>
      </div>
      <div class="p-col-4">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            type="tel"
            name="contactPhone"
            matInput
            required
            [(ngModel)]="userData.telefone"
          />
        </mat-form-field>
      </div>
      <div class="p-col-12">
        <mat-form-field appearance="outline">
          <mat-label>Observações</mat-label>
          <textarea
            name="contactObs"
            matInput
            [(ngModel)]="userData.obs"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions
 style="
display: flex;
justify-content: space-between;
">
  <button
    mat-raised-button
    color="warn"
    mat-dialog-close
    (click)="deny()"
  >
    Não
  </button>
  <button mat-raised-button color="success" (click)="save()">
    Sim
  </button>
</div>
