// Our dark theme
@import "./componentCases/componentCaseCore";
.dark-theme {
  color: $light-primary-text;
  transition: ease-in-out 1s;
  $dark-primary: mat-palette($mat-grey, 700, 300, 900);
  $dark-accent: mat-palette($mat-blue-grey, 400);
  $dark-warn: mat-palette($mat-red, 500);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme, #ffffff);

  .mat-raised-button {
    @include nebularDark;
    &.mat-primary {
      @include nebularPrimary;
    }
    &.mat-danger {
      @include nebularDanger;
    }
    &.mat-accent {
      @include nebularInfo;
    }
    &.mat-warn {
      @include nebularWarning;
    }

  }
}
