<div class="card">
  <mat-card style="width: 80%">
    <mat-card-header class="primary header">
      <mat-card-title>Contatos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="contact-list">
      <loader
        *ngIf="contatoArr.length === 0"
        [@zoomInOnEnter]
        [@hingeOnLeave]
      ></loader>
      <mat-selection-list
        #contatos
        *ngIf="contatoArr.length !== 0"
        [@zoomInOnEnter]
      >
        <mat-list-option
          *ngFor="let contato of contatoArr"
          (dblclick)="editContatos(contato)"
          [value]="contato"
          matTooltip="clique duas vezes para editar"
        >
          {{ contato.nome }}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
    <mat-card-actions
      *ngIf="contatoArr.length !== 0"
      [@zoomInOnEnter]
      style="display: flex; justify-content: space-between"
    >
      <button mat-raised-button color="accent" (click)="addContatos()">
        <i class="fas fa-edit"></i>
        Adicionar
      </button>
      <button
        mat-raised-button
        color="danger"
        (click)="openDeleteSheet()"
      >
        <i class="fas fa-trash"></i>
        Deletar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
