.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10px);
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2em;
  }
  .contact-list {
    overflow-y: scroll;
    height: 25em;
    .contact-list-item {
    }
  }
}


