<mat-toolbar color="primary" class="header-holder">
    <mat-toolbar-row class="header-row">
        <div class="header-title-holder">
            <h1 class="header-title-text">Graal</h1>

        </div>
        <mat-slide-toggle
        class="header-theme-switcher"
        (change)="toggleDarkTheme($event.checked)"
        >Dark Mode</mat-slide-toggle>
      </mat-toolbar-row>
  </mat-toolbar>
